
.form__labelText {
    max-width: 200px;
    width: 100%;
    display: inline-block;
    text-align: left;
}

.form__field {
    border: 2px double hsl(254, 87%, 35%);
    border-radius: 4px;
    width: 100px;
    padding: 5px;
    text-align: center;
}

.form__button {
    width: 70%;
    background-color: hsl(240, 60%, 50%);
    color: white;
    border-radius: 4px;
    border: none;
}

.form__button--reset {
    background-color: hsl(240, 70%, 50%);
}
.form__button:hover {
    background-color: hsl(200, 80%, 50%);
    color: black;
}

.form__button:active {
    background-color: hsl(200, 72%, 22%);
    color: black;
}
.form__fildset {
    background-color: hsl(49, 38%, 89%);
    border: 2px solid hsl(240, 70%, 50%) ;
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
}

.form__legend {
    background-color: hsl(240, 60%, 50%);
    border: none;
    border-radius: 5px;
    padding: 15px;
    color: white;
}

.form__field:invalid {
    background-color: rgb(177, 103, 90);
}

.form__text--important {
    text-align: left;
}
